@font-face {
    font-family: wales-sans;
    src: url("../fonts/wales-sans-headline-regular-web.woff2.ttf");
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --primaryColor: #F6E05E;
    --highlightPrimaryColor: #ffbb00;
    --primaryShadowColor: rgba(246, 224, 94, 0.4);
    --transparentBackgroundPrimaryColor: rgba(255, 187, 0, 0.1);

    --backgroundColor: #151935;
    --textColor: #F6E05E;
    --overlayColor: rgba(0, 0, 0, 0.5);

    --buttonBackgroundColor: #A171E0; 
    --buttonHoverColor: #8C55C4;
    --buttonShadowColor: rgba(161, 113, 224, 0.5);
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: wales-sans;
    color: var(--textColor);

    width: 100%;
    height: 100%;
    
    background: var(--backgroundColor) url('https://www.transparenttextures.com/patterns/cubes.png');
    background-size: auto;
    box-shadow: inset 0 1200px 1000px rgba(0, 0, 0, 0.5);

    display: grid;
    align-items: center;
}



/****************************************************************************************************************/
/*****************************************************HEADER*****************************************************/
/****************************************************************************************************************/


.headerBook {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    width: calc(100% - 120px);
    padding: 40px;
    padding-right: 80px;
    padding-bottom: 0px;
    
    position: relative; 
    top: 0; 

    transition: top 0.3s ease, position 0.3s ease;
}

#parteLogo a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

#nombrePagina {
    color: var(--primaryColor);
    font-size: 24px;
    text-decoration: none;
    text-shadow: 0 4px 6px var(--primaryShadowColor); 

    font-family: wales-sans;
}

#nombrePagina:hover {
    color: var(--highlightPrimaryColor);
}

#logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}


#enlaces {
    justify-self: flex-end;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#enlaces li {
    margin-right: 15px;
    position: relative;
}

#enlaces li a {
    color: var(--primaryColor);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

#enlaces li a:hover {
    color: var(--highlightPrimaryColor);
}

/**Dropdown Menu**/

.bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
}

.bar {
    height: 3px;
    background-color: var(--highlightPrimaryColor);
    border-radius: 5px;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.bar-container.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(12px);
}

.bar-container.active .bar:nth-child(2) {
    opacity: 0;
}

.bar-container.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-12px);
}

/* Dropdown Menu */
.dropdown {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: var(--buttonShadowColor);
    box-shadow: 0 4px 8px var(--buttonShadowColor);
    border: 2px var(--primaryColor) solid;
    border-radius: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    z-index: 1000;
    transition: all 0.3s ease;
}

.hidden {
    display: none;
}

.dropdown li {
    margin-right: 0 !important;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid var(--highlightPrimaryColor);
}

.dropdown li:last-child {
    border-bottom: none;
}

.dropdown a {
    text-decoration: none;
    color: var(--textColor);
    font-weight: bold;
    transition: color 0.3s ease;
}

.dropdown a:hover {
    color: var(--buttonBackgroundColor);
}

.flagsLanguage {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.flagsLanguage img {
    height: 2rem;
    width: auto;
    cursor: pointer;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.flagsLanguage img:hover {
    transform: scale(1.1);
}

.flagLenguage.inactive {
    filter: grayscale(100%);
    opacity: 0.7;
}

.flagLenguage.active {
    filter: none;
    opacity: 1;
    transform: scale(1.1);
}

.book{
    color: var(--highlightPrimaryColor) !important;
    font-weight: bold !important;
}

.book:hover{
    border-bottom: 2px solid var(--highlightPrimaryColor) !important;
}


/****************************************************************************************************************/
/******************************************************MAIN******************************************************/
/****************************************************************************************************************/



.restaurantFormContainer {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--overlayColor);
    box-shadow: 0px 4px 10px var(--primaryShadowColor);
    border-radius: 10px;
}

.formTitle {
    text-align: center;
    color: var(--highlightPrimaryColor);
    text-shadow: 0 4px 6px var(--primaryShadowColor); 
    margin-bottom: 20px;
    font-size: 24px;
}

.restaurantForm .formGroup {
    margin-bottom: 15px;
}

.restaurantForm label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--textColor);
}

.choices,
.restaurantForm input, 
.restaurantForm textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid var(--primaryColor);
    border-radius: 5px;
    background-color: var(--transparentBackgroundPrimaryColor);
    color: var(--textColor);
    font-size: 14px;
}

.restaurantForm input:focus,
.restaurantForm textarea:focus {
    outline: none;
    border-color: var(--highlightPrimaryColor);
    box-shadow: 0 0 5px var(--primaryShadowColor);
}

.restaurantForm textarea::placeholder,
.restaurantForm input::placeholder{
    color: var(--buttonBackgroundColor); 
    opacity: .8; 
}

.restaurantForm textarea {
    resize: none;
    height: 100px;
}

.restaurantForm .formActions {
    text-align: center;
}

.submitButton {
    background-color: var(--buttonBackgroundColor);
    color: var(--highlightPrimaryColor);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-shadow: 0 4px 6px var(--primaryShadowColor); 
    box-shadow: 0px 4px 6px var(--buttonShadowColor);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.submitButton:hover {
    background-color: var(--buttonHoverColor);
    transform: translateY(-2px);
}

.submitButton:active {
    transform: translateY(0);
}

.choices__inner {
    background-color: rgba(255, 230, 0, 0.1); 
    border-radius: 8px;
    color: var(--primaryColor);
    transition: border-color 0.3s ease;
}

.choices__inner:hover {
    border-color: var(--highlightPrimaryColor); 
}

.choices__list--dropdown {
    display: none;
    background-color: var(--backgroundColor); 
    border: 1px solid var(--primaryColor); 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
    margin-top: 5px;
}

.choices__item--choice {
    padding: 10px;
    color: var(--primaryColor);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.choices__item--choice:hover {
    background-color: var(--buttonBackgroundColor); 
    color: var(--highlightPrimaryColor); 
}

.choices__item--selectable {
    background-color: var(--buttonShadowColor); 
    border-radius: 4px;
    padding: 5px;
}

.choices.is-open .choices__list--dropdown {
    display: block;
}

input[type="date"], input[type="time"] {
    color: var(--buttonHoverColor);
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background-color: var(--buttonHoverColor); 
    border-radius: 50%; 
    padding: 2px; 
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: var(--buttonHoverColor); 
    border-radius: 50%; 
    padding: 2px;
}

/****************************************************************************************************************/
/*****************************************************FOOTER*****************************************************/
/****************************************************************************************************************/

.footerBook{
    padding: 40px;
    padding-bottom: 20px;

    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    align-items: center;
    justify-items: center;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bottonInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
    padding: 40px;
}

.location {
    justify-self: left;
}

.location p{
    font-family: wales-sans;
}

.contactInfo {
    justify-self: center;
}

.socialImg {
    justify-self: right;
    align-self: flex-end;
}

.socialImg a {
    text-decoration: none;
}

.svg {
    fill: var(--primaryColor);
    stroke: var(--primaryColor);
    box-shadow: 0 4px 6px var(--primaryShadowColor); 
}
