@font-face {
    font-family: wales-sans;
    src: url("../fonts/wales-sans-headline-regular-web.woff2.ttf");
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --primaryColor: #F6E05E;
    --highlightPrimaryColor: #ffbb00;
    --primaryShadowColor: rgba(246, 224, 94, 0.4);
    --transparentBackgroundPrimaryColor: rgba(255, 187, 0, 0.1);

    --backgroundColor: #151935;
    --textColor: #F6E05E;
    --overlayColor: rgba(0, 0, 0, 0.5);

    --buttonBackgroundColor: #A171E0; 
    --buttonHoverColor: #8C55C4;
    --buttonShadowColor: rgba(161, 113, 224, 0.5);
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: wales-sans;
    color: var(--textColor);

    width: 100%;
    height: 100%;
    
    background: var(--backgroundColor) url('https://www.transparenttextures.com/patterns/cubes.png');
    background-size: auto;
    box-shadow: inset 0 1200px 1000px rgba(0, 0, 0, 0.5);

    display: grid;
    align-items: center;
}



/****************************************************************************************************************/
/*****************************************************HEADER*****************************************************/
/****************************************************************************************************************/

.headerIndex {
    display: grid;
    grid-template-rows: 150px 1fr;

    width: calc(100% - 80px);
    padding: 40px;
    padding-top: 20px;
    position: relative;
    z-index: 2;
}

.parteSuperior {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    width: calc(100% - 80px);
    
    position: fixed; 
    top: 0; 

    transition: top 0.3s ease, position 0.3s ease;
}

#parteLogo{
    padding: 40px;
}

#parteLogo a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

#nombrePagina {
    color: var(--primaryColor);
    font-size: 24px;
    text-decoration: none;
    text-shadow: 0 4px 6px var(--primaryShadowColor); 

    font-family: wales-sans;
}

#nombrePagina:hover {
    color: var(--highlightPrimaryColor);
}

#logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}


#enlaces {
    justify-self: flex-end;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#enlaces li {
    margin-right: 15px;
    position: relative;
}

#enlaces li a {
    color: var(--primaryColor);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

#enlaces li a:hover {
    color: var(--highlightPrimaryColor);
}


/* Dropdown Menu */

.bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
}

.bar {
    height: 3px;
    background-color: var(--highlightPrimaryColor);
    border-radius: 5px;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.bar-container.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(12px);
}

.bar-container.active .bar:nth-child(2) {
    opacity: 0;
}

.bar-container.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-12px);
}

.dropdown {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: var(--buttonShadowColor);
    box-shadow: 0 4px 8px var(--buttonShadowColor);
    border: 2px var(--primaryColor) solid;
    border-radius: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    z-index: 1000;
    transition: all 0.3s ease;
}

.hidden {
    display: none;
}

.dropdown li {
    margin-right: 0 !important;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid var(--highlightPrimaryColor);
}

.dropdown li:last-child {
    border-bottom: none;
}

.dropdown a {
    text-decoration: none;
    color: var(--textColor);
    font-weight: bold;
    transition: color 0.3s ease;
}

.dropdown a:hover {
    color: var(--buttonBackgroundColor);
}

.flagsLanguage {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.flagsLanguage img {
    height: 2rem;
    width: auto;
    cursor: pointer;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.flagsLanguage img:hover {
    transform: scale(1.1);
}

.flagLenguage.inactive {
    filter: grayscale(100%);
    opacity: 0.7;
}

.flagLenguage.active {
    filter: none;
    opacity: 1;
    transform: scale(1.1);
}

/*
.flagLenguage.custom-colors {
    filter: sepia(1) hue-rotate(240deg) saturate(400%) brightness(90%);
    transition: filter 0.3s ease, transform 0.3s ease;
}

.flagLenguage.custom-colors:hover {
    filter: sepia(1) hue-rotate(240deg) saturate(500%) brightness(100%);
    transform: scale(1.1);
}
*/



.video-background {
    z-index: -2;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 50%;
    height: 50%;
    object-fit: cover;
    box-shadow: 0 0 6px var(--primaryShadowColor); 
}

#overlay {
    position: absolute;
    width: calc(50% + 2px);
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--overlayColor);
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nombreCompletoPagina {
    color: var(--primaryColor);
    font-size: 3em;
    z-index: 10;
    text-align: center;

    font-family: wales-sans;
}

.frase{
    width: calc(100% - 80px);
    justify-self: center;
    text-align: center;
    margin-top: 900px;
}




/****************************************************************************************************************/
/******************************************************MAIN******************************************************/
/****************************************************************************************************************/




.mainIndex{
    width: 100%;
}


/******************************************/
/*****************Imagenes*****************/
/******************************************/

.ImagesContainer{
    width: calc(100% - 300px);
}

.imgSectionIndex{
    padding-top: 0px;
}

.imgRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flag{
    width: 20px;
    height: 20px;
    position: absolute;
    transform: translateY(150px);
    background-color: transparent;
}


/*Breakfast*/
.breakfast{
    padding-top: 100px;
    padding: 10px;
}

#honeyImage{
    width: calc(481px * 1);
    height: calc(671px * 1);
}

#baraImage{
    width: calc(439px * 1);
    height: calc(585px * 1);
    transform: translateY(0);
    transition: transform 1s ease;
}

#pancakesImage{
    width: calc(481px * 1);
    height: calc(671px * 1);
}

#baraImage2{
    width: 100%;
    height: 100%;
    margin-top: 20px;    
}


/*Rooms*/
.rooms{
    padding: 10px;
}

#masterBedroomImage{
    width: calc(1200px * 0.66);
    height: calc(799px * 0.66);
}

#cheapBedroomImage{
    width: calc(1900px * 0.36);
    height: calc(1169px * 0.36);
    transition: transform 1s ease;
}

#barnImage{
    width: 100%;
    height: 100%;
    margin-top: 20px;    
}


/*Lunch*/
.lunch{
    padding: 10px;
}

#sausagesImage{
    width: calc(1500px * 0.6);
    height: calc(845px * 0.6);
    transition: transform 1.2s ease;
}

#roastLegImage{
    width: calc(439px * 1.2);
    height: calc(585px * 1.2);
}

#cawlImage{
    width: 100%;
    height: 100%;
    margin-top: 20px;    
}


/*Afternoon*/
.afternoon{
    padding: 10px;
}

#biscuitsImage{
    width: calc(400px * 1.2);
    height: calc(267px * 1.2);
    transition: transform 2s ease;
}

#teaImage{
    width: calc(1000px * 1);
    height: calc(749px * 1);
}

#wineCellarImage{
    width: calc(600px * 1.2);
    height: calc(800px * 1.2);
    margin-top: 20px;    
}

#wineImage{
    width: calc(600px * 1.2);
    height: calc(800px * 1.2);
    margin-top: 20px;    
}


/*Dinner*/
.dinner{
    padding: 10px;
}

#foodImage{
    width: 100%;
    height: 100%;
}

#rarebitImage{
    width: calc(1500px * 0.5);
    height: calc(845px * 0.5);
    margin-top: 20px;    
}

#dinnerRoomImage{
    width: calc(1000px * 0.7);
    height: calc(667px * 0.7);
    margin-top: 20px;    
}

#mexillonsImage{
    width: 100%;
    height: 100%;
    margin-top: 20px;    
}


.img {  
    height: 600px;
    width: 600px;
    border-radius: 8px;
    opacity: 0.9;
    filter: saturate(0.7) brightness(1);
    transition: transform 0.7s cubic-bezier(0.45, 0.05, 0.55, 0.95), filter 0.7s ease, opacity 0.7s ease; 
}

.img:hover {
    opacity: 1;
    filter: saturate(1) brightness(0.9); 
    transform: scale(0.95); 
}


/******************************************/
/*****************TIMELINE*****************/
/******************************************/

.rightbox {
    position: fixed;
    top: 160px;
    right: 150px;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%); 
    transition: opacity 1.3s ease, visibility 1.3s ease, transform 1.3s ease;
}

.rightbox.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(0); 
}


.rb-container {
    font-family: wales-sans;
    width: 50%;
    margin: auto;
    display: block;
    position: relative;

    z-index: 10;
}

.rb-container ul.rb {
    margin: 2.5em 0;
    padding: 0;
    display: inline-block;
}

.rb-container ul.rb li {
    list-style: none;
    margin: auto;
    margin-left: 10em;
    min-height: 50px;
    border-left: 1px dashed var(--primaryColor);
    padding: 0 0 50px 30px;
    position: relative;
}

.rb-container ul.rb li:last-child {
    border-left: 0;
}

.rb-container ul.rb li::before {
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid var(--primaryColor);
    border-radius: 500%;
    background: var(--buttonBackgroundColor);
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
    border-color: var(--highlightPrimaryColor);
    transition: all 1000ms ease-in-out;
}

.item-title {
    color: var(--textColor);
    cursor: pointer;
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 16px;
    text-align: left;
    transition: color 0.3s, background 0.3s; 
    
    z-index: 10;
}

.item-title:hover {
    color: var(--highlightPrimaryColor);
    background-color: var(--transparentBackgroundPrimaryColor);
    border-radius: 5px;
}

.item-title:focus {
    outline: none;
    box-shadow: 0 0 5px var(--highlightPrimaryColor);
}


/****************************************************************************************************************/
/*****************************************************FOOTER*****************************************************/
/****************************************************************************************************************/

.footerIndex{
    padding: 40px;
    padding-bottom: 20px;
}

.backToTop {
    position: fixed;
    bottom: 150px;
    right: 80px;
    background-color: var(--buttonBackgroundColor); 
    color: var(--textColor); 
    font-family: wales-sans;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px var(--buttonShadowColor); 
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.7s ease, visibility 0.7s ease, transform 0.7s ease;
}

.backToTop:hover {
    background-color: var(--buttonHoverColor); 
    transform: translateY(-3px); 
    box-shadow: 0 6px 10px var(--buttonShadowColor); 
}

.backToTop.show {
    opacity: 1;
    visibility: visible;
}

.book {
    text-align: center;
    padding: 400px;
    padding-bottom: 200px;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bookRef {
    display: block;
    position: relative;
    padding: 0.2em 0;
    text-decoration: none;
    color: var(--primaryColor);
    font-weight: bolder;
    font-size: 80px;
    font-family: wales-sans;
    text-shadow: 0 4px 6px var(--primaryShadowColor); 

    transition: all 0.3s;
}

.bookRef:hover {
    color: var(--highlightPrimaryColor);
}

.bookRef::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--highlightPrimaryColor);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.bookRef:hover::after,
.bookRef:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.1em, 0);
}



.bottonInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
    padding: 40px;
}

.location {
    justify-self: left;
}

.location p{
    font-family: wales-sans;
}

.contactInfo {
    justify-self: center;
}



.socialImg {
    justify-self: right;
    align-self: flex-end;
}

.socialImg a {
    text-decoration: none;
}

.svg {
    fill: var(--primaryColor);
    stroke: var(--primaryColor);
    box-shadow: 0 4px 6px var(--primaryShadowColor); 
}